* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #344563;
  list-style: none;
}

.btn-see-project {
  color: #396df2;
  text-decoration: none;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 17px;
  text-transform: capitalize;
  border: 1px solid #6070ff;
  padding: 0.5em;
  border-radius: 10px;
  position: relative;
  margin-left: 1.5rem;
  margin-bottom: 5rem;
}

/* -----------------nav bar-------- */
.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  margin-right: 0;
  width: 286px;
  height: 72px;
}

.nav a {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}

.nav-list div {
  margin: 12px 0 12px 24px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  height: 24px;
  transition-property: margin;
  transition-duration: 500ms;
}

.logo {
  font-family: Poppins, sans-serif;
  color: #7f8cff;
  font-size: 22px;
  font-weight: 600;
  line-height: 16px;
  text-shadow: 2pc;
}

/* -----------------nav bar-------- */

/* -------Presentation Section----- */

section.main-container {
  margin-bottom: 2rem;
  display: grid;
}

.main-container {
  width: 100%;
  height: auto;
  background-image: url("/img/header-shapes-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  padding-bottom: 10px;
}

.head-2-container {
  margin: 30px 20px;
  width: 100%;
}

h1 .title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding: 5rem 0 10px;
}

p.description {
  position: relative;
  font-size: 15px;
  color: #344563;
  width: 295px;
  height: 76px;
  margin-top: 1rem;
  margin-left: 0;
}

.social-icons {
  margin-top: 12px;
}

.social-icons > h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: #7f8cff;
  padding-bottom: 15px;
}

.social-icons > ul {
  display: flex;
  justify-content: flex-start;
}

.social-icons.ul {
  list-style: none;
  height: 40px;
  margin: 0 auto;
  align-items: center;
  padding: 2px;
}

.social-icons > img {
  width: 20px;
  height: 20px;
}

/* Styles Section 1 */

.grid-container {
  height: 552px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 22px;
  background: #fff;
  margin-bottom: 12rem;
}

.container-image-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 295px;
  height: 220px;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.container-image-bg h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  text-align: start;
  font-weight: 700;
  flex: none;
  margin-left: 10px;
  margin-top: 1rem;
}

.content-side {
  font-family: Poppins, sans-serif;
  width: 491px;
  height: 215;
  margin: 0;
  padding: 0;
}

.type-job ul {
  display: flex;
  text-decoration: none;
  gap: 1rem;
  margin-left: 2px;
  margin-top: 22px;
  margin-bottom: 22px;
}

.type-job ul li {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-left: 1rem;
}

p.profess {
  width: 295px;
  height: 76px;
  margin-left: 16px;
}

.languages-container ul {
  display: flex;
  justify-content: flex-start;
  padding: 20px 0 10px;
  margin: 15px 0;
}

.languages-container ul li {
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.05em;
  list-style-type: none;
  padding: 0 10px;
  margin-left: 1rem;
}

.html-section1 {
  border: 1px solid transparent;
  width: 53px;
  height: 24px;
  padding: 0.5em;
  background: #ebebff;
  border-radius: 20px;
}

.css-section1 {
  border: 1px solid transparent;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 20px;
  padding: 0.5em;
}

.js-section1 {
  width: 89px;
  border: 1px solid transparent;
  height: 24px;
  background: #ebebff;
  border-radius: 20px;
  padding: 0.5em;
}

/* Styles Section 2 */
.grid-container-2 {
  height: 552px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 22px;
  background: #fff;
  margin-bottom: 12rem;
}

.container-image-bg-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 295px;
  height: 220px;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.container-image-bg-2 h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  text-align: start;
  font-weight: 700;
  flex: none;
  margin-left: 10px;
  margin-top: 1rem;
}

.content-side-2 {
  font-family: Poppins, sans-serif;
  width: 491px;
  height: 215;
  margin: 0;
  padding: 0;
}

.type-job-2 ul {
  display: flex;
  text-decoration: none;
  gap: 1rem;
  margin-left: 2px;
  margin-top: 22px;
  margin-bottom: 22px;
}

.type-job-2 ul li {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-left: 1rem;
}

p.profess-2 {
  width: 295px;
  height: 76px;
  margin-left: 16px;
}

.languages-container-2 ul {
  display: flex;
  justify-content: flex-start;
  padding: 20px 0 10px;
  margin: 15px 0;
}

.languages-container-2 ul li {
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.05em;
  list-style-type: none;
  padding: 0 10px;
  margin-left: 1rem;
}

.html-section2 {
  border: 1px solid transparent;
  width: 53px;
  height: 24px;
  padding: 0.5em;
  background: #ebebff;
  border-radius: 20px;
}

.css-section2 {
  border: 1px solid transparent;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 20px;
  padding: 0.5em;
}

.js-section2 {
  width: 89px;
  border: 1px solid transparent;
  height: 24px;
  background: #ebebff;
  border-radius: 20px;
  padding: 0.5em;
}

/* Styles Section 3 */

.grid-container-3 {
  height: 552px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 22px;
  background: #fff;
  margin-bottom: 12rem;
}

.container-image-bg-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 295px;
  height: 220px;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.container-image-bg-3 h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  text-align: start;
  font-weight: 700;
  flex: none;
  margin-left: 10px;
  margin-top: 1rem;
}

.content-side-3 {
  font-family: Poppins, sans-serif;
  width: 491px;
  height: 215;
  margin: 0;
  padding: 0;
}

.type-job-3 ul {
  display: flex;
  text-decoration: none;
  gap: 1rem;
  margin-left: 2px;
  margin-top: 22px;
  margin-bottom: 22px;
}

.type-job-3 ul li {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-left: 1rem;
}

p.profess-3 {
  width: 295px;
  height: 76px;
  margin-left: 16px;
}

.languages-container-3 ul {
  display: flex;
  justify-content: flex-start;
  padding: 20px 0 10px;
  margin: 15px 0;
}

.languages-container-3 ul li {
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.05em;
  list-style-type: none;
  padding: 0 10px;
  margin-left: 1rem;
}

.html-section3 {
  border: 1px solid transparent;
  width: 53px;
  height: 24px;
  padding: 0.5em;
  background: #ebebff;
  border-radius: 20px;
}

.css-section3 {
  border: 1px solid transparent;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 20px;
  padding: 0.5em;
}

.js-section3 {
  width: 89px;
  border: 1px solid transparent;
  height: 24px;
  background: #ebebff;
  border-radius: 20px;
  padding: 0.5em;
}

/* Styles Section 4 */

.grid-container-4 {
  height: 552px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 22px;
  background: #fff;
  margin-bottom: 12rem;
}

.container-image-bg-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 295px;
  height: 220px;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.container-image-bg-4 h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  text-align: start;
  font-weight: 700;
  flex: none;
  margin-left: 10px;
  margin-top: 1rem;
}

.content-side-4 {
  font-family: Poppins, sans-serif;
  width: 491px;
  height: 215;
  margin: 0;
  padding: 0;
}

.type-job-4 ul {
  display: flex;
  text-decoration: none;
  gap: 1rem;
  margin-left: 2px;
  margin-top: 22px;
  margin-bottom: 22px;
}

.type-job-4 ul li {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-left: 1rem;
}

p.profess-4 {
  width: 295px;
  height: 76px;
  margin-left: 16px;
}

.languages-container-4 ul {
  display: flex;
  justify-content: flex-start;
  padding: 20px 0 10px;
  margin: 15px 0;
}

.languages-container-4 ul li {
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.05em;
  list-style-type: none;
  padding: 0 10px;
  margin-left: 1rem;
}

.html-section4 {
  border: 1px solid transparent;
  width: 53px;
  height: 24px;
  padding: 0.5em;
  background: #ebebff;
  border-radius: 20px;
}

.css-section4 {
  border: 1px solid transparent;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 20px;
  padding: 0.5em;
}

.js-section4 {
  width: 89px;
  border: 1px solid transparent;
  height: 24px;
  background: #ebebff;
  border-radius: 20px;
  padding: 0.5em;
}

/* --------About Section------- */

.about {
  border: 1px solid #fff;
  background-color: #fff;
  border-top-right-radius: 80px;
  padding: 100px 0 20px;
}

.about.container-about-page {
  margin: 0 20px;
}

.container-about-page h2 {
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 12px;
  margin-left: 2rem;
  flex: none;
}

.content-desc {
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 8rem;
  margin-left: 2rem;
}

.social-icons h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: #7f8cff;
  padding-bottom: 15px;
  margin-left: 1rem;
}

.social-icons ul {
  display: flex;
}

.social-icons ul li a {
  letter-spacing: 0.05em;
  list-style-type: none;
  padding: 0 10px;
  margin-left: 1rem;
}

.get-resume {
  color: #396df2;
  text-decoration: none;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 17px;
  text-transform: capitalize;
  border: 1px solid #6070ff;
  padding: 0.5em;
  border-radius: 10px;
  position: relative;
  margin-left: 2rem;
}

.section-languages {
  font-family: Poppins, sans-serif;
}

.program-languages {
  margin-left: 0.2rem;
}

.lang-about-section {
  margin-left: 17px;
}

.program-languages p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-top: 2rem;
  color: #000;
}

.program-languages.down-icon {
  width: 12px;
  color: #acb7c3;
  opacity: 0.5;
  float: right;
  position: relative;
  right: 20px;
}

.icon-section {
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: -10px;
}

.icon-section span {
  margin-left: 4rem;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

li.fram {
  font-family: Poppins, sans-serif;
  height: 38px;
  width: 36px;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 24px;
  margin-top: 1rem;
  margin-bottom: 0;
  margin-left: 2rem;
  color: #000;
}

li.skills {
  font-family: Poppins, sans-serif;
  height: 210px;
  width: 36px;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 24px;
  margin-top: 1rem;
  margin-left: 2rem;
  color: #000;
}

/* ---------Form Section------------ */

form {
  display: flex;
  flex-direction: column;
}

.contact-form {
  margin-top: 10rem;
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-position-x: 350px;
  padding: 80px 10px 10px;
  border-top-left-radius: 120px;
  text-align: center;
}

.contact-content h1 {
  color: #fff;
  text-align: center;
  height: 56px;
  font-size: 40px;
  line-height: 56px;
  margin: 20px 0;
}

.contact-content p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  color: #ebebff;
  height: 136px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 4000;
  text-align: center;
}

.name-container input {
  border: 1px solid transparent;
  border-radius: 8px;
  background: #fff;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  width: 80%;
  margin-top: 20px;
  height: 48px;
  padding-left: 5px;
}

.mail-container input {
  border: 1px solid transparent;
  border-radius: 8px;
  background: #fff;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  width: 80%;
  margin-top: 20px;
  height: 48px;
  padding-left: 5px;
}

.textarea-container textarea {
  border: 1px solid transparent;
  border-radius: 8px;
  background: #fff;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  width: 80%;
  margin-top: 20px;
  height: 170px;
  padding-left: 5px;
}

button {
  width: 140px;
  height: 48px;
  margin-left: 40px;
  border: 1px solid #6070ff;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #fff;
  border-radius: 8px;
  color: #6070ff;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}
